html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PT Sans Pro";
  src: url("fonts/pt-sans-pro/PTSansProLight.OTF");
}
@font-face {
  font-family: "Now-Medium";
  src: url("fonts/Now-Medium/NowAlt-Bold.otf");
}
.button-orange {
  background-color: #F89A54;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-family: "PT Sans Pro", sans-serif;
  border-radius: 25px;
  margin: 0 auto;
  text-decoration: none;
  padding: 14px 51px;
  display: inline-block;
  box-shadow: 5px 5px 25px rgba(250, 199, 124, 0.51);
}

footer {
  display: flex;
  background-color: #EEEEEE;
  padding: 73px 140px;
  justify-content: center;
  align-items: flex-start;
}
footer > div p:first-of-type {
  color: #646464;
  font-size: 25px;
  font-family: "Now-Medium", sans-serif;
  margin-bottom: 20px;
}
footer > div p {
  font-family: "PT Sans Pro", sans-serif;
  color: #595959;
  font-size: 18px;
}
footer div:first-of-type {
  min-width: 28%;
}
footer div:first-of-type div {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer div:first-of-type a {
  background-color: #646464;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
footer div:first-of-type a .fab {
  color: #EEEEEE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  position: relative;
}
footer div:first-of-type a:hover {
  opacity: 0.8;
}
footer div:nth-of-type(2) {
  min-width: 28.5%;
  padding: 9px 122px 9px 54px;
  margin-right: 83px;
  border-left: #F89A54 solid 1px;
  border-right: #F89A54 solid 1px;
}
footer div:nth-of-type(2) li {
  margin-bottom: 9px;
}
footer div:nth-of-type(2) li a {
  text-decoration: none;
  color: #595959;
  font-family: "PT Sans Pro", sans-serif;
  font-size: 18px;
}
footer div:nth-of-type(2) li a:hover {
  opacity: 0.8;
}
footer div:nth-of-type(2) li:last-of-type {
  margin-bottom: 0;
}
footer div:last-of-type {
  min-width: 43.5%;
  padding: 9px 0px;
}
footer div:last-of-type p {
  width: 88%;
}
footer div:last-of-type .emailBtn {
  height: 60px;
  margin-bottom: 37px;
}
footer div:last-of-type .emailBtn input {
  height: 50px;
  font-family: "PT Sans Pro", sans-serif;
  padding-left: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 60%;
  font-size: 18px;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
footer div:last-of-type .emailBtn button {
  border-radius: 50px;
  height: 50px;
  font-family: "PT Sans Pro", sans-serif;
  width: 40%;
  margin-left: -20px;
  color: #fff;
  background-color: #F89A54;
  border: none;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 5px 5px 25px rgba(250, 199, 124, 0.51);
}
footer div:last-of-type .emailBtn button:hover {
  background-color: #f78c3c;
}

header > div {
  padding: 0 140px;
  margin: auto;
}
header .header-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
header .header-content__desc {
  font-family: "PT Sans Pro", sans-serif;
  color: white;
  width: 70%;
}
header .header-content__desc h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 78px;
  font-family: "Now-Medium", sans-serif;
}
header .header-content__desc p {
  font-size: 18px;
  line-height: 28px;
  width: 65%;
  text-align: left;
}
header .header-content__desc div {
  height: 5px;
  width: 72px;
  background-color: white;
  margin-top: 94px;
  margin-bottom: 10px;
}
header .header-content__desc a {
  margin-top: 107px;
}
header .header-content__desc span {
  font-size: 32px;
  font-weight: bold;
}
header .header-content__desc .erreur-message {
  margin-top: 34px;
}
header .header-content__image {
  display: flex;
  justify-content: center;
  width: 30%;
}
header .header-content__image img {
  width: 80%;
}
header .header-content__image__404 img {
  width: 100%;
}
header .buttons {
  padding: 0 36px;
  margin-top: 194px;
}
header .buttons > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .buttons a {
  text-decoration: none;
  font-family: "Now-Medium", sans-serif;
  font-size: 24px;
}
header .buttons a .testImg {
  display: flex;
  background-image: url("../img/bouton.png");
  background-size: cover;
  height: 146px;
  width: 382px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 700;
}
header .buttons a .testImg .circ {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
  margin-right: 25px;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  font-family: "PT Sans Pro", sans-serif;
  font-size: 18px;
}
.navbar ul {
  display: flex;
  gap: 33px;
}
.navbar ul.navbar__main-menu {
  gap: 145px;
}
.navbar ul.navbar__main-menu .left {
  position: relative;
}
.navbar ul.navbar__main-menu .left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: lightcoral;
  visibility: hidden;
  transition: all 0.3s;
}
.navbar ul.navbar__main-menu .left:hover::before {
  visibility: visible;
  width: 100%;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
}
.navbar ul li a.button1 {
  border: solid 2px white;
  padding: 5px 26px 7px 28px;
  border-radius: 25px;
}
.navbar ul li a.button2 {
  padding: 5px 39px 7px 44px;
  border-radius: 25px;
  background-color: #F89A54;
}
.navbar > div:last-child {
  justify-self: flex-end;
}
.navbar > div:first-child {
  margin-right: 89px;
}

.card {
  background-color: white;
  max-width: 594px;
  min-height: 767px;
  margin: 0 auto;
  padding: 103px 60px 28px 60px;
  border-radius: 42px;
  margin-bottom: 285px;
  margin-top: 75px;
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.16);
}
.card h2 {
  text-align: center;
  font-family: "Now-Medium", sans-serif;
  font-size: 50px;
  color: #646464;
  font-weight: bold;
  margin-bottom: 73px;
}
.card > div {
  display: flex;
  flex-direction: column;
}
.card > div label {
  font-family: "PT Sans Pro", sans-serif;
  color: #595959;
  font-size: 18px;
  margin-bottom: 9px;
}
.card > div input {
  height: 48px;
  border: none;
  background-color: rgba(238, 234, 234, 0.185);
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  padding-left: 20px;
  margin-bottom: 28px;
}
.card > div input:focus {
  outline: none;
}
.card > div button {
  background-color: #F89A54;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-family: "PT Sans Pro", sans-serif;
  border: none;
  border-radius: 25px;
  width: 55%;
  height: 60px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 57px;
  box-shadow: 5px 5px 25px rgba(250, 199, 124, 0.51);
}
.card > div a {
  color: #595959;
  text-decoration: none;
  font-size: 14px;
  font-family: "PT Sans Pro", sans-serif;
}

.card2 {
  background-color: white;
  max-width: 594px;
  min-height: 767px;
  margin: 0 auto;
  padding: 103px 60px 28px 60px;
  border-radius: 42px;
  margin-bottom: 285px;
  margin-top: 75px;
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.16);
}
.card2 h2 {
  text-align: center;
  font-family: "Now-Medium", sans-serif;
  font-size: 50px;
  color: #646464;
  font-weight: bold;
  margin-bottom: 73px;
}
.card2 > div {
  display: flex;
  flex-direction: column;
}
.card2 > div label {
  font-family: "PT Sans Pro", sans-serif;
  color: #595959;
  font-size: 18px;
  margin-bottom: 9px;
}
.card2 > div label #remember_me {
  box-shadow: 4px 4px 6px white;
}
.card2 > div input {
  height: 48px;
  border: none;
  background-color: rgba(238, 234, 234, 0.185) !important;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  padding-left: 20px;
  margin-bottom: 28px;
}
.card2 > div input:focus {
  outline: none;
  background-color: rgba(238, 234, 234, 0.185) !important;
}
.card2 > div button {
  background-color: #F89A54;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-family: "PT Sans Pro", sans-serif;
  border: none;
  border-radius: 25px;
  width: 55%;
  height: 60px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 25px rgba(250, 199, 124, 0.51);
}
.card2 > div a {
  color: #595959;
  text-decoration: none;
  font-size: 14px;
  font-family: "PT Sans Pro", sans-serif;
}
.card2 .remember_me {
  display: flex;
  width: 80%;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
}
.card2 .remember_me span {
  padding-top: 18px;
  margin-left: 10px;
}
.card2 .butPw {
  display: flex;
  margin-left: 14px;
  margin-top: 10px;
  font-weight: 500;
  justify-content: space-between;
}
.card2 .googleConn {
  display: flex;
  background-color: red;
  width: 70%;
  height: 50px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-family: "PT Sans Pro", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.card2 .bottomBar {
  display: flex;
  margin-top: 7%;
  margin-bottom: 7%;
  height: auto;
  justify-content: center;
}
.card2 .bottomBar .orBar, .card2 .bottomBar .orBar2 {
  width: 40%;
  border: rgba(182, 181, 181, 0.534) 0.5px solid;
  height: 0px;
  margin-top: 9px;
}
.card2 .bottomBar .orBar {
  margin-right: 15px;
}
.card2 .bottomBar .orBar2 {
  margin-left: 15px;
}

* {
  z-index: 1;
  box-sizing: border-box;
}

.video {
  padding: 0 140px;
  margin: auto;
  margin-top: 276px;
  margin-bottom: 184px;
}
.video h2 {
  font-family: "Now-Medium", sans-serif;
  font-size: 35px;
  color: #34A9FD;
  font-weight: bold;
}

.background {
  background-image: url("../img/fond.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
