//Abstracts
@import "abstracts/_abstracts-dir";

//Base Styles
@import "base/_base-dir";

//Components
@import "components/_components-dir";

//Layout
@import "layouts/_layouts-dir";

* {
    z-index: 1;
    box-sizing: border-box;
}

.video {
    @include sectionpadding;
    margin-top: 276px;
    margin-bottom: 184px;

    h2 {
        font-family: $font-title;
        font-size: 35px;
        color: $color-blue;
        font-weight: bold;
    }
}

.background {
    background-image: url('../img/fond.png');
    background-size: 100%;
    background-repeat: no-repeat;
}