html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PT Sans Pro";
  src: url("fonts/pt-sans-pro/PTSansProLight.OTF");
}
header {
  min-height: 100vh;
  background-image: url("../img/fond.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 0;
}
header > div {
  padding: 0 140px;
  margin: auto;
}
header .header-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
header .header-content__desc {
  font-family: "PT Sans Pro", sans-serif;
  color: white;
  width: 70%;
}
header .header-content__desc h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 78px;
}
header .header-content__desc p {
  font-size: 18px;
  line-height: 28px;
  width: 65%;
  text-align: left;
}
header .header-content__desc div {
  height: 5px;
  width: 72px;
  background-color: white;
  margin-top: 94px;
  margin-bottom: 10px;
}
header .header-content__image {
  display: flex;
  justify-content: center;
  width: 30%;
}
header .header-content__image img {
  width: 80%;
}
header .buttons {
  padding: 0 36px;
  margin-top: 194px;
}
header .buttons > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .buttons a {
  text-decoration: none;
  font-family: "PT Sans Pro", sans-serif;
  font-size: 24px;
}
header .buttons a .testImg {
  display: flex;
  background-image: url("../img/bouton.png");
  background-size: cover;
  height: 146px;
  width: 382px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 700;
  opacity: 1;
  transition: 0.2s;
}
header .buttons a .testImg:hover {
  opacity: 0.8;
}
header .buttons a .testImg .circ {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
  margin-right: 25px;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  font-family: "PT Sans Pro", sans-serif;
  font-size: 18px;
}
.navbar ul {
  display: flex;
  gap: 33px;
}
.navbar ul.navbar__main-menu {
  gap: 145px;
}
.navbar ul.navbar__main-menu li a {
  position: relative;
}
.navbar ul.navbar__main-menu li a:hover::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #F89A54;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
}
.navbar ul li a.button1 {
  border: solid 2px white;
  padding: 5px 26px 7px 28px;
  border-radius: 25px;
}
.navbar ul li a.button2 {
  padding: 5px 39px 7px 44px;
  border-radius: 25px;
  background-color: #F89A54;
}
.navbar > div:last-child {
  justify-self: flex-end;
}
.navbar > div:first-child {
  margin-right: 89px;
}

* {
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
