.navbar {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    font-family: $font-text;
    font-size: 18px;
        
    ul {
        display: flex;
        gap: 33px;

        &.navbar__main-menu {
            gap: 145px;

            .left{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: lightcoral;
                    visibility: hidden;
                    transition: all 0.3s;
                    
                }
                &:hover::before{
                    visibility: visible;
                    width: 100%;
                }
            }
        }

        li {
            
            a {
                text-decoration: none;
                color: $text-main;
                display: inline-block;
                position: relative;
                padding-bottom: 8px;

                &.button1 {
                    border: solid 2px white;
                    padding: 5px 26px 7px 28px;
                    border-radius: 25px;

                    &:hover {
                        background-color: $color-orange;
                    }
                }

                &.button2 {
                    padding: 5px 39px 7px 44px;
                    border-radius: 25px;
                    background-color: $color-orange;
                }
            }

        }
    }

    > div:last-child {
        justify-self: flex-end;
    }

    > div:first-child {
        margin-right: 89px;
    }
}