$font-text : 'PT Sans Pro', sans-serif;
$font-title : 'Now-Medium', sans-serif;
$text-main : white;
$color-orange : #F89A54;
$color-blue : #34A9FD;
$color-gray-title : #646464;
$color-gray-text : #595959;
$color-gray-input : #DEDEDE;